*.swp
.ICEauthority
.bash_history
.bash_logout
.boot
.cache
.dropbox*
.emacs.d/elpa
.esd_auth
.fonts
.fzf.bash
.fzf.zsh
.fzf
.gitignore.swp
.gnome
.gnupg
.histfile
.inst
.lein
.lost
.pki
.ssh
.lesshst
.local
.m2
.mozilla
.session.vim
.vim
.viminfo
.w3m
.zcompdump
bin
Documents
Downloads
Dropbox
Pictures
installs
*dump*

.config/abrt
.config/dconf
.config/evolution
.config/gedit
.config/gnome-session
.config/goa-1.0
.config/google-chrome
.config/gtk-3.0
.config/ibus
.config/menus
.config/mimeapps.list
.config/nautilus
.config/pulse
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/systemd/user/suspend.target.wants
.config/totem
.config/yelp
.config/gnome-initial-setup-done
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc