.ICEauthority
.bash_history
.bash_logout
.cache
.esd_auth
.fonts
.fzf.bash
.fzf.zsh
.fzf
.gitignore.swp
.gnupg
.histfile
.inst
.ssh
.lesshst
.local
.mozilla
.vim
.viminfo
.w3m
.zcompdump
Downloads
Pictures

.config/abrt
.config/dconf
.config/evolution
.config/gnome-session
.config/goa-1.0
.config/gtk-3.0
.config/ibus
.config/nautilus
.config/pulse
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/systemd/user/suspend.target.wants
.config/yelp
.config/gnome-initial-setup-done
.config/user-dirs.dirs
.config/user-dirs.locale
